@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @font-face {
    font-family: mplus;
    src: url("../fonts/mplus-1p-regular.ttf");
  }
.header{
    height: 20%;
    width: 100%;
    position: absolute;
    display: flex;
  flex-direction: column;
}
.logo-div{
  padding: 10px;;
}

.header-user{
  padding: 10px;
}
.header-title{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;;
}
.menu-div{
    padding: 30px;
    margin-left: 10px;
}

.logo{
    height: 300px;
    width: 300px;
    padding: 80px 50px;
    margin-left: 23px;
}
.menu-items{
    padding: 10px;
    font-family: mplus;
    text-decoration: none;
    color: white;
}