@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @font-face {
    font-family: mplus;
    src: url("../fonts/mplus-1p-medium.ttf");
  }

  .banner-img-right {
    width: 444px;
    height: 400px;
    margin-top: -3.5%;
    margin-left: -7.5%;
    margin-bottom: -20%;
  }
  .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
  }
  .content-div{
    padding: 2% 6% 6% 13%;
    width: 75%;
    text-align: center;
}
.howitworks-div{
    animation: 1s linear 0s 1 slideInFromBottom;
    height: auto;
    width: 35%;
    position: absolute;
    margin-left: 65%;
    bottom: 0;
    max-height: 100%;
    overflow: hidden;
}

.banner-img_howitworks{
  height: 500px;
  width: 445px;
  position: relative;
  float: right;
  margin-top: -7%;
}

.content{
  font-size: 14px;
  padding: 10px;
  text-align: center;
  font-family: mplus;
}

.title-div-howitworks{
  margin-top: 10px;
  text-align: center;
}

.title-howitworks{
  text-align: center;
  font-size: 20px;
  padding: 7%;
  font-family: mplus;
}